* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    background-color: aqua;

}

.nav_list {
    display: flex;
    justify-content: space-between;
    font-size: 2.3rem;

}

.nav_item {
    padding: 15px 15px;
    line-height: 10px;
}

.title a {
    font-size: 2.3rem;
    text-decoration: none;
}

/* header section */
.header_section {
    height: 300px;
    width: 100%;
    position: relative;

    margin-top: 50px;

}

.intro_banner {
    width: 100%;
    height: 300px;
    background: url(/assets/images/banner_img.jpg) no-repeat center center;
}