* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    background-color: aqua;

}

.nav_list {
    display: flex;
    justify-content: space-between;
    font-size: 2.3rem;

}

.nav_item {
    padding: 15px 15px;
    line-height: 10px;
}

.title a {
    font-size: 2.3rem;
    text-decoration: none;
    list-style: none;
    color: black;
}

.nav_list .nav_item {
    cursor: pointer;
    border: 10px;
    border-radius: 10px;
}

.nav_list .nav_item:hover {
    background-color: white;
}

/* header section */
.header_section {
    height: 600px;
    width: 100%;
    position: relative;
    padding: 0 5%;
    margin-top: 50px;

}

.intro_banner {
    width: 100%;
    height: 600px;
    background: url(/assets/images/banner_img.jpg) no-repeat center center;
}


/* poem grid section */

.grid_section {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 1000px;
    margin: 15px 50px;
    place-items: center;

}

.grid_item {
    cursor: pointer;
    position: relative;
    display: grid;
    width: 400px;
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.grid_item .poem_header {
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px 35px;
    width: 100%;
    text-align: center;
    
}

.grid_item .poem_body {
    margin-top: 5%;
    padding: 10px 20px;
}

.grid_item .poem_body .img_grid {
    background: url(/assets/images/grid_poem_img.jpg)  no-repeat center center;
    width: 100%;
    height: 200px;
}

.grid_item .poem_body  p {
    margin-top: 5%;
}

/* Poem grid active section */

 .grid_item_active {
    height: 560px;
    width: 70%;
    margin: 20px auto;
    border: 2px solid black;
 }

 .poem_header_active {
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px 35px;
    width: 100%;
    text-align: center;
 }

 .poem_body_active {
    display: flex;
    margin: 20%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}



/* footer section */

.footer_links {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 20px 10px;
}


.footer_links li a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1.5rem;
}